doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title User Login
    link(rel="stylesheet" href="/css/login.css")
    script(src="/js/login.js")
  body
    form(action="your_login_backend_script", method="post")
      label(for="username") Username:
      input(type="text", id="username", name="username", required)

      label(for="password") Password:
      input(type="password", id="password", name="password", required)

      button(type="submit") Login

      img(src="/img/ght.jp")  